/*================================================================*/
/*================================================================*/
/*home*/
/*================================================================*/
/*================================================================*/
body{
	margin: 0px;
	padding: 0px;
	font-family: Khmer OS Battambang;
  background-color: #021A56;
}

/*============.back-to-top================*/
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

/*============Header Top================*/
.wrapper{
  width: 1260px;
  height: auto;
  margin: auto;
  padding-left:30px;
  padding-right: 30px;
  background-color: #F2F2F2;
}

/*============Header Top================*/
.wrap-nav-top{
	width: 100%;
	height: 30px;
	background-color: #F8F8F8;
	border-color: #E9E9E9;
	border-style: groove;
	border-width:0px 0px 1px 0px;
	font-size: 15px;
}

.nav-top{
	width: 1260px;
	margin: auto;
	padding-left:30px;
	padding-right: 30px;
	background-color: #F8F8F8;
	height: 30px;
	border-color: #E9E9E9;
	border-style: groove;
	border-width:0px 0px 1px 0px;
}
.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
}

.nav-top li {
  float: left;
}

.nav-top li:last-child {
  border-right: none;
}

.nav-top li a {
  display: block;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
}
.nav-top li a:hover {
  display: block;
  text-align: center;
  padding: 0px 5px;
  color:#F903AE;
  text-decoration: none;
}
.nav-top ul .flort-righy{
	float: right;
}
.color-blue a{
	color: #F903AE;
}
.nav-top ul .flort-righy select{
  border-style: none;
  color: #000000;
}
.nav-top ul .flort-righy select:hover{
  color: #F903AE;
}

/*====Header Search====*/
.wrap-header-logo-search{
  width: 100%;
  height: 100px;
  border-color: #E9E9E9;
  border-style: groove;
  border-width:0px 0px 10px 0px;
  font-size: 15px;
}

.heaer-logo-search{
  width: 1260px;
  height: 100px;
  margin: auto;
  padding-left:30px;
  padding-right: 30px;
  border-color: #E9E9E9;
  border-style: groove;
  border-width:0px 0px 10px 0px;
}
/*Logo*/
.logo{
  width: 150px;
  height: 100px;
  padding-top: 11px;
  text-align: center;
  font-size: 35px;
  float: left;
  overflow: hidden;
}
.logo > a{
  color: #F903AE;
}

/*==sie-search==*/
.search{
  float: left;
  padding-top: 19px;
}
.sie-search{
  float: left;
}
.sie-search > input{
  width: 380px;
  height: 45px;
  border-width: 3px 0px 3px 3px;
  padding-left: 10px;
  border-style: solid;
  border-color: #F903AE;
  float: left;
}
.sie-search select{
  float: left;
  width: 130px;
  height: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: #F903AE;
}
.sie-search button{
 float: left;
 width: 110px;
 height: 45px;
 background: #F903AE;
 border-width: 1px;
 border-style: solid;
 border-color: #F903AE;
 color: #ffffff;
}
.sie-search button:hover{
  background-color: #F9037A;
}
/*==sie-login==*/
.sie-login{
 float: left;
 margin-left: 8px;
}
.sie-login a{
 float: left;
 width: 110px;
 padding-top: 11.5px;
 padding-bottom: 11.5px;
 text-align: center;
 text-decoration: none;
 color: #ffffff;
 border-width: 0px 1px 0px 0px;
 border-style: solid;
 border-color: #ffffff;
 background-color: #F903AE;
}
.sie-login a:hover{
  text-decoration: none;
  color: #ffffff;
  background-color:#F9037A;
}

/*==sie-post==*/
.sie-post{
  float: left;
  margin-left: 8px;
}
.sie-post a{
 float: left;
 width: 180px;
 padding-top: 11.5px;
 padding-bottom: 11.5px;
 text-align: center;
 text-decoration: none;
 color: #ffffff;
 border-width: 0px 1px 0px 0px;
 border-style: solid;
 border-color: #ffffff;
 background-color: #FF4300;
}
.sie-post a:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #FF5D00;
}









/*===listcategories-and-slide===*/
.listcategories-and-slide{
  background-color: #F2F2F2;
  width: 100%;
  height: 420px;
  margin-top: 10px;
}

/*=================== s-sv-category-banner ====================*/
.s-sv-category-banner{
  margin: 20px 0px;
  padding: 0px;
  border:solid 1px #cccccc;
  overflow: hidden;
}

/*========================* category *================================*/
.s-sv-category-banner .category{
  width: 300px;
  float: left;
  overflow: hidden;
  border:solid 1px #cccccc;
  margin: 0px;
  padding: 0px;
}
.category ul li{
  list-style-type: none;
}
.category ul{
  background: #FFF;
  width: 300px;
  height: auto;
  padding: 0px;
  list-style-type: none;
  float: left;
}
.category ul li a{
  text-decoration: none;
  border-style: none none solid none;
  border-color: #E4E4E4;
  border-width: 1px;
  padding: 5px 15px;
  display: block;
  color: #000;
}
.category ul li:hover a{
  background: none;
  text-decoration: none;
  color: #F903AE;
}
/*==================== hover Categories ========================*/
.categories {
  width: 897px;
  height: 415px;
  position: absolute;
  background: #FFF;
  margin-left: 300px;
  margin-top: 150px;
  top: 0%;
  display: none;
  z-index: 1;
  overflow: hidden;
}
/*==========================Cat Title=======================*/
.categories .cat-title {
  background:#F903AE;
  padding: 12px 0px 12px 14px;
  color: #FFFFFF;
}
/*==========================Cat item=======================*/
.category ul li:hover .categories a{
  text-align: center;
  width: 33.33%;
  height: auto;
  background: #FFFFFF;
  border-style: none solid none none;
  border-color: #ccc;
  border-width: 1px;
  color:#000;
  font-size: 14px;
  float: left;
}
.cat-item:hover p {
  color: #F903AE;
}
/*==========================hover.categories=======================*/
.category ul li:hover .categories{
  display: block;
}


/*============================Slide show================================*/
.sv_slide{
  overflow: hidden;
}
.slie_show_title h5{
  background-color: #F903AE;
  color: #ffffff;
  padding: 11.5px;
  border-style: none none solid none;
  border-width: 1px;
  margin: 0px;
  border-color: #E4E4E4;
}
/*=========================sv_slide=========================*/
.image_slide_show{
  width: 898px;
  height: 367px;
  background-color: blue;
}






/*===popular-categories===*/
.popular-categories{
  background-color: #FFABFF;
  width: 100%;
  height: 280px;
  margin-top: 10px;
}
/*sie-popular-title*/
.sie-popular-title{
  width: 100%;
  height: 82px;
}
.sie-popular-title a{
 float: left;
 width: 350px;
 padding-top: 13px;
 padding-bottom: 13px;
 text-align: center;
 text-decoration: none;
 margin: 10px 0px 0px 40px;
 color: #ffffff;
 background-color: #FF0000;
 font-size: 25px;
 border-radius: 25px;
 overflow: hidden;
}
.sie-popular-title a:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #ee0000;
}


/*==sie-popular-list==*/
.sie-popular-list{
  overflow: hidden;
}
.sie-popular-list ul{
  list-style-type: none;
}
.sie-popular-list ul li{
  float: left;
}
.sie-popular-list ul li a{
  float: left;
  width: 213px;
  margin: 5px 5px;
  padding: 10px;
  color: #F903AE;
  font-weight: bold;
  background: #ECDFF9;
  border-radius: 20px;
  text-align: center;
}
.sie-popular-list ul li a:hover{
  text-decoration: none;
  background: #ffffff;
  color : #FF007A ;

}

.sie-popular-list ul li a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sie-popular-list ul li a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sie-popular-list ul li a:hover span {
  padding-right: 25px;
}

.sie-popular-list ul li a:hover span:after {
  opacity: 1;
  right: 0;
}



/*======================title============*/
.title{
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-style: solid;
  border-color: #F903AE;
  background-color: #F2F2F2;
  border-width:3px 0px 0px 0px;
}
.title h3{
  width: 100%;
  padding: 5px 0px 15px 40px;
  background-color: #F2F2F2;
  border-style: solid;
  border-color: #cccccc;
  color: #F903AE;
  border-width:1px;
}
.title h3:hover{
  color : #FF007A ;
}
/*====================================post slide======================================*/
.carousel-item > div {
  float: left;
}
.carousel-by-item [class*="cloneditem-"] {
  display: none;
}




/*==========================================post===============================*/
.post{
  overflow: hidden;
  align-items: center;
  background-color: #F2F2F2;
  margin: -8px 0px 0px 0px;
}
/*========item===========*/
.post > .item a{
  width: 19.4%;
  float: left;
  background-color: #ffffff;
  margin: 10px 0.3% 10px 0.3%;
  padding: 15px;
  overflow: hidden;
}
.post > .item a{
  text-decoration: none;
}
/*=======img========*/
.post > .item > a > img{
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: transform .9s;
  margin-bottom: 15px;

}
.post > .item > a:hover > img {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform .9s;
}
/*======item-title========*/
.post > .item > a > .item-title{
  width: 100%;
  height: 53px;
  color: #333333;
  overflow: hidden;
}
.post > .item > a:hover > .item-title{
  color: #FF4300;
}
/*=======price=======*/
.post > .item > a > .price{
  font-size: 20px;
  color: #FE0000;
  font-weight: bold;
}

/*================small_ads_promotion=============*/
.small_ads_promotion{
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
  text-align: center;
}
.small_ads_promotion > a > img{
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
}
/*=====================breadcrumb=========================*/
.breadcrumb_css{
  background-color: #ffffff!important;
  padding: 5px 5px 5px 0px !important;
  margin: 5px 5px 5px 0px !important;
}
/*================location cambodia=============*/
.post > ul{
  padding-top: 30px;
  padding-bottom: 60px;
  overflow: hidden;
}
.post > ul > li{
  float: left;
  margin: 5px 0px 0px 10%;
}
.post > ul > li > a{
  padding: 0px;
}
.post > ul > li > a:hover{
  color: #FF4300;
}
/*=================wrap-footer====================*/
.bag_footer{
  background-color:#F903AE;
  height: 50px;
}
.wrap-footer{
  background-color: #E8E8E8;
  overflow: hidden;
}
.wrap-footer ul{
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  float: left;
}
.wrap-footer ul li{
  list-style-type: none;
}
.bag_footer_copy_right{
  background-color:#F903AE;
  height: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
}
/*================================================================*/
/*================================================================*/
/*view_product*/
/*================================================================*/
/*================================================================*/
.view_product{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
/*===============================view_product_right=================================*/
.view_product > .view_product_right{
  width: 30%;
  height: auto;
  float: left;
  border :solid 1px #F903AE;
  padding-bottom: 20px;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.preview-pic {
  width: 100%;
  height: 360px;
  border-color: #F903AE;
  border-width: 0px 0px 1px 0px ;
  border-style: solid ;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}
.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li:hover {
  border:solid 1px #F903AE;
  width: 18%;
  margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; 
}

.tab-content {
  overflow: hidden; 
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; 
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; 
}

.checked, .price span {
  color: #ff9f1a; 
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; 
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px; 
}
.size:first-of-type {
  margin-left: 40px; 
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; 
}
.color:first-of-type {
  margin-left: 20px; 
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; 
}
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; 
}

.not-available {
  text-align: center;
  line-height: 2em; 
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; 
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  } 
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  } 
}





/*===============================view_product_center=================================*/
.view_product > .view_product_center > h5{
  margin-bottom: 15px;
  color :#333333;
}
.view_product > .view_product_center > span{
  padding: 5px 70px;
  color: #ffffff;
  background-color: #F903AE;
  overflow: hidden;
  font-weight: bold;

}
.view_product > .view_product_center > nav{
  margin-top: 10px;
  margin-bottom: 5px;
}
.view_product > .view_product_center > div > p > span{
  color: #17a2b8;
}
.view_product > .view_product_center > div > p > .span-prices{
  color: red;
  font-weight: bold;
}
.view_product > .view_product_center{
  width: 50%;
  height: auto;
  padding: 0px 10px;
  float: left;
}
.view_product_center > nav > .id-post-view > span{
  margin-left: 35px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.contact-supplier{

}
.contact-supplier > .contact-phone{
  width: 50%;
  float: left;
  color: #007BFF;
  font-weight: bold;
}
.contact-supplier > .contact-user{
  width: 50%;
  overflow: hidden;
}
.contact-supplier > .contact-user > .location{
  font-size: 12px;
  color: #959595;
}










/*===============================view_product_left==============================*/
.view_product > .view_product_left{
  width: 20%;
  height: auto;
  float: left;
  overflow: hidden;
}
/*==========================================post===============================*/
.post-view{
  overflow: hidden;
  align-items: center;
  background-color: #F2F2F2;
}
/*========item===========*/
.post-view > .item a{
  width: 100%;
  height: 300px;
  float: left;
  background-color: #ffffff;
  padding: 15px;
  overflow: hidden;
  border: #C1C1C1 1px solid;
}
.post-view > .item a{
  text-decoration: none;
}
/*=======img========*/
.post-view > .item > a > img{
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: transform .9s;

}
.post-view > .item > a:hover > img {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform .9s;
}
/*======item-title========*/
.post-view > .item > a > .item-title{
  width: 100%;
  height: 53px;
  color: #333333;
  overflow: hidden;
}
.post-view > .item > a:hover > .item-title{
  color: #FF4300;
}
/*=======price=======*/
.post-view > .item > a > .price{
  font-size: 20px;
  color: #FE0000;
  font-weight: bold;
}

