.bodys{
	background: #F2F3F7;
	margin: 0px;
	padding: 0px;
	font-family: khmeros battambang;
}
.wrapper{
	background: #FFFFFF;
	width: 1250px;
	height: auto;
	margin: auto;
}
.s-sv-header{
	background: #FFFFFF;
	border: #ccc 4px;
	border-style: none none ridge none;
}
.s-sv-header > .wrapper{
	border: #646465 2px;
	border-style: none;
}
/*===================.s-sv-header-row-top====================*/
.s-sv-header-row-top{
	padding: 5px;
	margin: 0px;
}
.s-sv-header-top-row-left{
	float: left;
	overflow: hidden;
}
.s-sv-header-top-row-right{
	text-align: right;
}
.s-sv-header-top-row-right a{
	margin:  0px 0px 0px 10px;
}
/*===================.s-sv-header-row-min====================*/
.s-sv-header-row-min{
	padding: 20px 0px 30px 0px;
	margin: 0px;
}
.s-sv-logo{
	float: left;
	overflow: hidden;
}
.s-sv-search{
	text-align: right;
	overflow: hidden;
}
.s-sv-search > .group-search{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: right;
}
.s-sv-search > .group-search a, input, button{
	background: #F903AE;
	margin: 0px;
	padding: 10px 20px 10px 20px; 
	border: #F903AE 3px solid;
	color: #FFFFFF;
	float: left;

}
.s-sv-search > .group-search input{
	width: 500px;
	background: none;
}
.s-sv-search > .group-search button{
	width: 200px;
}
.s-sv-search > .group-search a{
	margin: 0px;
	padding: 13px 30px 13px 30px;
	border:#FFFFFF 1px;
	border-style: none none none solid;
	text-decoration: none;
}
/*=================== s-sv-category-banner ====================*/
.s-sv-category-banner{
	margin: 20px 0px;
	padding: 0px;
	border:solid 1px #cccccc;
	overflow: hidden;
}

/*========================* category *================================*/
.s-sv-category-banner .category{
	width: 300px;
	float: left;
	overflow: hidden;
	border:solid 1px #cccccc;
	margin: 0px;
	padding: 0px;
}
.category ul li{
	list-style-type: none;
}
.category ul{
	background: #FFF;
	width: 300px;
	height: auto;
	padding: 0px;
	border-style: none solid none none;
	border-color: #D1D2D0;
	border-width: 1px;
	list-style-type: none;
	padding-right: 0px;
	float: left;
}
.category ul li a{
	text-decoration: none;
	border-style: none none solid none;
	border-color: #D1D2D0;
	border-width: 1px;
	padding: 9px 15px;
	display: block;
	color: #000;
}
.category ul li:hover a{
	background: none;
	text-decoration: none;
	border-style: none none solid none;
	color: #F903AE;
}
/*==================== hover Categories ========================*/
.categories {
	width: 948px;
	height: 482px;
	position: absolute;
	background: #FFF;
	margin-left: 300px;
	margin-top: 160px;
	top: 0%;
	display: none;
	z-index: 1;
	overflow: hidden;
}
/*==========================Cat Title=======================*/
.categories .cat-title {
	background:#F903AE;
	padding: 14px 0px 14px 14px;
	color: #FFFFFF;
}
/*==========================Cat item=======================*/
.category ul li:hover .categories a{
	text-align: center;
	width: 33.33%;
	height: auto;
	background: #FFFFFF;
	border-style: none solid none none;
	border-color: #ccc;
	border-width: 1px;
	color:#000;
	font-size: 14px;
	float: left;
}
.cat-item:hover p {
	color: #F903AE;
}
/*==========================hover.categories=======================*/
.category ul li:hover .categories{
	display: block;
}


/*==========================* category-popular *=======================*/
.s-sv-category-banner .category-popular{
	border:solid 1px #cccccc;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.category-popular > ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.category-popular > ul > li > a{
	float: left;
	width: 25.00%;
	height: 130px;
	border:1px #cccccc;
	border-style: none solid solid none;
	overflow: hidden;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

.category-popular > ul > li > a > img{
	float: left;
	width: 110px;
	height: 127px;
	transition: transform .9s;
}
.category-popular > ul > li > a:hover > img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: transform .9s;
}
.category-popular > ul > li > a > p{
	text-align: center;
	padding: 5px;
	margin: 0px;
	overflow: hidden;
	height: 100px;
    text-overflow:ellipsis;
}
.category-popular > ul > li > a:hover{
	color:#F903AE;
}
.category-popular > ul > li > a >.similar{
	color:#F903AE;
	font-size: 12px;
	text-align: right;
	height: 30px;
}

/*==========================* category-slide *=======================*/
.s-sv-category-banner> .category-slide{
	border:solid 1px #cccccc;
	overflow: hidden;
}
#container{
	width:604px;
	height:453px;
	position:relative;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:604px;
	height:453px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}